<div id="footer">
        <div class="container-fluid justify-content-center">
                <p class="text-center">Made by Team JobSpy. <a href="/aboutus">About us</a>.</p>
        </div>
</div>

</body>

</html>