<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobSpy Search</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="icon" type="image/x-icon" href="assets/JSIcon.png" />
  </head>
  <body>
    <div
      class="cover-container d-flex h-100 p-5 mx-auto flex-column text-center"
    >
      <main role="main" class="inner cover">
        <div class="input-group rounded">
          <form class="d-flex mx-auto" id="searchBar">
            <input
              class="form-control me-2"
              id="userInput"
              autocomplete="off"
              placeholder="Search for a job"
              aria-label="Search"
            />
            <button class="btn btn-primary" type="submit" id="searchButton">
              Search
            </button>
          </form>
        </div>
      </main>
    </div>
    <div><p id="results" style="font-size: 1.8em"></p></div>
    <script src="./js/job-search.js"></script>
  </body>
</html>
