<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <h1 class='text-center'>Redirecting, please wait...</h1>
    <button onclick="testClick()">Click me</button>
<script>
    window.onload = function() {
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const page_type = urlParams.get("code")
        const state = urlParams.get("state")
        console.log('queryString: ' + queryString)
        console.log('urlParams: ' + urlParams)
        console.log('page_type: ' + page_type)
        
        try {
            const res = fetch('https://www.linkedin.com/oauth/v2/accessToken?client_id=869xpruolc8wci&client_secret=MaKPW17zsAAO4chc&grant_type=authorization_code&redirect_uri=http://localhost:3000/auth/linkedin/callback&code='+page_type, {
                method: 'POST',
                state: state,
                host: 'linkedin.com',
                headers: {'Content-Type': 'x-www-form-urlencoded'}
            }) 
            .then(response => response.json())
            .then(data => console.log(data));
        } catch (err) {
            console.log(err)
        }
    }
</script>
</body>
</html>