<%- include('partials/header'); -%>

<body>
    <div class="cover-container d-flex h-100 p-5 mx-auto flex-column text-center m-5">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Find all the junior software jobs.</h1>
            <p class="lead">JobSpy will help you find a junior job etc.</p>
            <div class="input-group rounded">
                <form class="d-flex mx-auto">
                    <input class="form-control me-2" type="search" placeholder="Search for a job" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </main>
    </div>
    <div class="recent-job-list" data-url="/data" style="padding-bottom: 30px;">
        <p class="lead text-center">Recent Job Listings: </p>
        <ol class="list-group list-group w-50 mx-auto">
            <div id="results"></div>
        </ol>
    </div>
<script src="js/recent-jobs.js"></script>


<%- include('partials/footer'); -%>
