<%- include('partials/header'); -%>
<form>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" placeholder="Enter password" type="password">
    </div> 

    <!-- Submit button -->                                      
    <div class="d-flex form-group pt-3 justify-content-center">
        <button type="submit" class="btn btn-primary btn-block">Edit</button>
    </div> 
</form>

<%- include('partials/footer'); -%>
