<%- include('partials/header'); -%>

    <body>
        <div class="d-flex form-group pt-4 justify-content-center">
            <span class="btn" style="background-color: #0c0c0c;" ></span>
        </div>
        <div class="d-flex form-group pt-4 justify-content-center">
            <span class="btn" style="background-color: #fefdff;"></span>
        </div>
    </body>
    

    <%- include('partials/footer'); -%>
