<%- include('partials/header'); -%>

    <body>
        <div class="d-flex form-group pt-4 justify-content-center">
            <span class="btn" style="background-color: #000000;"></span>
        </div>
        <div class="d-flex form-group pt-4 justify-content-center">
            <span class="btn" style="background-color: #fefdff;"></span>
        </div>
    </body>
    <%- include('partials/footer'); -%>

        <script>


            var setCookie = function (n, val) {
                var exdays = 30;
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toGMTString();
                document.cookie = n + "=" + val + "; " + expires;
            };

            var getCookie = function (n) {
                var name = n + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            };

            document.onclick = function (e) {
                if (e.target.className == 'btn') {
                    var favColor = e.target.style.backgroundColor;
                    setCookie('color', favColor);
                    document.body.style.backgroundColor = favColor;
                    console.log(favColor);
                }
            };

            window.onload = function () {
                var favColor = document.body.style.backgroundColor;
                var color = getCookie('color');
                if (color === '') {
                    document.body.style.backgroundColor = favColor;
                } else {
                    document.body.style.backgroundColor = color;
                }
            };

            function lightMode() {

                let color = document.body.style.backgroundColor = "white"

                let text = document.getElementById("footer").getElementsByClassName("container-fluid justify-content-center")[0]
                console.log(text.getElementsByClassName("text-center")[0].style.color = "black")

            }

        </script>