<%- include('partials/header'); -%>
<div class="text-center">
  <i class="fas fa-envelope fa-10x pt-5"></i>
  <h2>You've got mail!</h2>
  <p>If the email does not already exist, then you should receive an email.</p>
  <p>Go to your email and click the link to verify.</p>
</div>

<script>
  // Provides live chat functionality
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date()
  ;(function () {
    var s1 = document.createElement('script'),
      s0 = document.getElementsByTagName('script')[0]
    s1.async = true
    s1.src = 'https://embed.tawk.to/60ab0ec7a4114e480ad07c92/1f6e33eqn'
    s1.charset = 'UTF-8'
    s1.setAttribute('crossorigin', '*')
    s0.parentNode.insertBefore(s1, s0)
  })()
</script>

<%- include('partials/footer'); -%>
