        <footer class="mastfoot text-center fixed-bottom">
            <div class="inner">
                <p>Made by Team JobSpy, <a href="https://github.com/ChalzZy/job-spy" target="_blank">Github</a>.</p>
            </div>
        </footer>
    </body>
</html>