<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form id="reg-form">
        <input type="password" autocomplete="off" id="password" placeholder="Password" />
        <input type="submit" value="Submit Form"/>
    </form>

    <script>
        // Finds regististration form in 
        const form = document.getElementById('reg-form')
        // Waits until the submit button is clicked
        form.addEventListener('submit', registerUser)

        async function registerUser(event) {
            event.preventDefault() // Prevents page from being reset when form is clicked
            const password = document.getElementById('password').value

            // 'POST' request to the server
            const result = await fetch('/api/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newpassword: password,
                    token: localStorage.getItem('token')
                })
            }).then((res) => res.json())

            if(result.status === 'ok') {
                alert('Success')
            } else {
                alert(result.error)
            }
        }
    </script>
</body>
</html>